<body class='mypage'>
    <div id='mypage_back'>

        <% if @user.microposts.any? %>
            <div id='category'>
                <%= link_to "All", user_path %> / 
                <%= link_to "ライブ", user_path(type: "live") %> / 
                <%= link_to "スポーツ", user_path(type: "sport") %>
            </div>
            <%= render @microposts %>
        <% end %>

        <div class='pagecon'>
            <%= will_paginate @microposts, renderer: BootstrapPagination::Rails,  previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;',
                inner_window: 1, outer_window: 0 %>
        </div>

        <div id='name'>
            <%= @user.username %>
        </div>

        <div id='bar'>
            <div id='follow_block'>
                <%= render 'layouts/stats' %>
                <div id='follow_unfollow_btn'>
                    <% if user_signed_in? %>
                        <% if current_user.id != @user.id %>
                            <%= render 'follow_form' %>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <%= render 'layouts/archive' %>

            <%= render 'layouts/artist' %>

            <%= render 'layouts/place' %>
        </div>

    </div>
</body>
