<h1><%= @user.username %></h1>

<div id='page_back'>

	<% if @user.microposts.any? %>
		<%= link_to "All", user_path %> / 
		<%= link_to "ライブ", user_path(type: "live") %> / 
		<%= link_to "スポーツ", user_path(type: "sport") %>
		<%= render @microposts %>
	<% end %>

	<div class='pagecon'>
		<%= will_paginate @microposts, renderer: BootstrapPagination::Rails,  previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;',
    		inner_window: 1, outer_window: 0 %>
    </div>


    <div id='bar'>
		<div id='follow_block'>
			<%= render 'layouts/stats' %>
			<% if current_user.id != @user.id %>
				<%= render 'follow_form' %>
			<% end %>
		</div>

		<%= render 'layouts/archive' %>

		<%= render 'layouts/artist' %>

		<%= render 'layouts/place' %>
	</div>

</div>