<li>
	<%= micropost.year %>年
	<%= micropost.month %>月
	<%= micropost.day %>日
	<%= micropost.teama %>VS<%= micropost.teamb %>
	(<%= micropost.apoint %> - <%= micropost.bpoint %>)
	<br>
	<%= micropost.place %>
	<%= micropost.myteam %>
	<%= micropost.logo %>

</li>