<li>
	<!-- スポーツ観戦の場合-->
	<% if micropost.teama != '' and micropost.teamb != '' %>
		<%= micropost.year %>年<%= micropost.month %>月<%= micropost.day %>日
		<%= micropost.teama %>VS<%= micropost.teamb %>
		(<%= micropost.apoint %> - <%= micropost.bpoint %>)
		<br>
		<%= micropost.place %>
		<%= micropost.myteam %>

		<a href="http://twitter.com/intent/tweet?url=https://test.com/&text=
		<%= micropost.teama %> vs <%= micropost.teamb %> を観戦しました。(<%= micropost.place %> 結果:<%= micropost.apoint %>-<%= micropost.bpoint %>)" target="_blank" >ツイート</a>

		<%= link_to "削除", micropost, method: :delete %>

	<!-- ライブの場合-->
	<% else %>
		<%= micropost.year %>年<%= micropost.month %>月<%= micropost.day %>日
		<%= micropost.livetitle %>
		<br>
		<%= micropost.place %>
		<%= micropost.artist %>
		<br>

		<!-- ロゴの表示 -->
		<% if micropost.logo == "乃木坂46" %>
			<%= image_tag('/nogizaka46.png', :size => "40x50") %>
		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% elsif micropost.logo == "" %>

		<% end %>

		<a href="http://twitter.com/intent/tweet?url=https://test.com/&text=<%= micropost.artist %>『<%= micropost.livetitle %>』(<%= micropost.place %>) に参加しました。" target="_blank" >ツイート</a>

		
		<%= link_to "削除", micropost, method: :delete %>
		

	<% end %>


</li>
<br>