<div class="ticket-box">
	<!-- スポーツ観戦の場合-->
	<% if micropost.teama != '' and micropost.teamb != '' %>
		<div id='date'>
			<%= micropost.year %>年<%= micropost.month %>月<%= micropost.day %>日
		</div>

		<br>
		<%= micropost.teama %> VS <%= micropost.teamb %>
		(<%= micropost.apoint %> - <%= micropost.bpoint %>)
		<br>
		<%= micropost.place %>
		

		<div id="ticket-logo">

			<!-- ロゴの表示 -->
			<% if micropost.logo == "中日ドラゴンズ" %>
				<%= image_tag('/logo/dragons.png', :size => "40x40") %>
			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% end %>
		</div>

		<div id='tweetdele'>
			<a href="http://twitter.com/intent/tweet?url=https://test.com/&text=
				<%= micropost.teama %> vs <%= micropost.teamb %> を観戦しました。(<%= micropost.place %> 結果:<%= micropost.apoint %>-<%= micropost.bpoint %>)" target="_blank" >
			<img src='/logo/twitter.png' with='20' height='20'>
		</a>

			<%= link_to image_tag('/logo/batsu.png', :size=>'20x20'), micropost, method: :delete %>
		</div>

	<!-- ライブの場合-->
	<% else %>
		<div id='date'>
			<%= micropost.year %>年<%= micropost.month %>月<%= micropost.day %>日
		</div>
		<br>
		<div id='livetitle'>
			<%= micropost.artist %> 
			<%= micropost.livetitle %>

			<div id="ticket-logo">
				<!-- ロゴの表示 -->
				<% if micropost.logo == "乃木坂46" %>
					<%= image_tag('/logo/nogizaka46.png', :size => "30x40") %>
				<% elsif micropost.logo == "欅坂46" %>
					<%= image_tag('/logo/keyakizaka46.png', :size => "40x50") %>
				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% elsif micropost.logo == "" %>

				<% end %>
			</div>
		</div>
		
		<%= micropost.place %>

		<div id="tweetdele">
			<a href="http://twitter.com/intent/tweet?url=https://test.com/&text=<%= micropost.artist %>『<%= micropost.livetitle %>』(<%= micropost.place %>) に参加しました。" target="_blank" style="text-decoration:none;" >
				<img src='/logo/twitter.png' with='20' height='20' >
			</a>

			<%= link_to image_tag('/logo/batsu.png', :size=>'20x20'), micropost, method: :delete %>
		</div>


	<% end %>

</div>
