<div class="ticket-box">
	<!-- スポーツ観戦の場合-->
	<% if micropost.teama != '' and micropost.teamb != '' %>
		<div id='date'>
			<%= micropost.year %>-<%= micropost.month %>-<%= micropost.day %>
		</div>
		<br>
		
		<div id="ticket-logo">

			<!-- ロゴの表示 -->
			<% if micropost.logo == "中日ドラゴンズ" %>
				<%= image_tag('/logo/dragons.png', :size => "45x45") %>
			<% elsif micropost.logo == "広島カープ" %>
				<%= image_tag('/logo/carp.png', :size => "45x45") %>
			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% end %>
		</div>
		
		<div id='artist_title'>
			<% if micropost.apoint > micropost.bpoint %>
				<div id='winteam'><%= micropost.teama %></div> VS <%= micropost.teamb %>
				(<%= micropost.apoint %> - <%= micropost.bpoint %>)
			<% else %>
				<%= micropost.teama %> VS <div id='winteam'><%= micropost.teamb %></div>
				(<%= micropost.apoint %> - <%= micropost.bpoint %>)
			<% end %>
		</div>

		<div id='place'>
			<%= micropost.place %>
		</div>

		<% if current_user.id == @user.id %>
			<div id='tweetdele'>
				<a href="http://twitter.com/intent/tweet?url=https://test.com/&text=
					<%= micropost.teama %> vs <%= micropost.teamb %> を観戦しました。(<%= micropost.place %> 結果:<%= micropost.apoint %>-<%= micropost.bpoint %>)" target="_blank" >
				<img src='/logo/twitter.png' with='20' height='20'>
				</a>

				<%= link_to image_tag('/logo/batsu.png', :size=>'20x20'), micropost, method: :delete %>
			</div>
		<% end %>

	<!-- ライブの場合-->
	<% else %>
		<div id='date'>
			<%= micropost.year %>-<%= micropost.month %>-<%= micropost.day %>
		</div>
		<br>

		<div id='ticket-logo'>
			<!-- ロゴの表示 -->
			<% if micropost.logo == "乃木坂46" %>
				<%= image_tag('/logo/nogizaka46.png', :size => "40x50") %>
			<% elsif micropost.logo == "欅坂46" %>
				<%= image_tag('/logo/keyakizaka46.png', :size => "40x50") %>
			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% elsif micropost.logo == "" %>

			<% end %>
		</div>
		
		<div id='artist_title'>
			<%= micropost.artist %> 
			<%= micropost.livetitle %>
		</div>
		
		<div id='place'>
			<%= micropost.place %>
		</div>

		<% if current_user.id == @user.id %>
			<div id='tweetdele'>
				<a href="http://twitter.com/intent/tweet?url=https://test.com/&text=<%= micropost.artist %>『<%= micropost.livetitle %>』(<%= micropost.place %>) に参加しました。" target="_blank" style="text-decoration:none;" >
					<img src='/logo/twitter.png' with='20' height='20' >
				</a>

				<%= link_to image_tag('/logo/batsu.png', :size=>'20x20'), micropost, method: :delete %>
			</div>
		<% end %>
		
	<% end %>

</div>
